<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<!--
<p><%= gravatar_for(@user) %></p>
<h1> Your name: <%= @user.name %></h1>
<h1>Email: <%= @user.email %></h1>
-->